<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <!-- Include the navbar -->
    <a href="/logout" class="logout-button">Logout</a>
    <div class="container">
        
        
        
        
        <h1>Contact Us</h1>
        <p>Name: Omkar Jadhav</p>
        <p>Mobile: 123456789</p>
        <p>email: om@gmail.com</p>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
